.explore-section {
  margin: 1rem;
}

.explore-header {
  font-size: 2rem;
  font-weight: 800;
}

.exploreHeading,
.explore-category-heading {
  font-weight: 700;
}

.explore-category-heading {
  margin-top: 3rem;
}

.explore-categories {
  display: flex;
  justify-content: space-between;
}
.explore-categories a {
  width: 48%;
}

.explore-category-image {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.explore-category-name {
  font-weight: 800;
  font-size: 1.6rem;
  text-align: left;
}

/* Media queries */
@media (min-width: 1024px) {
  .explore {
    margin: 3rem;
  }
}
@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}
