.wrapperforgot {
  background: #eceff5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}
.imageContainer {
  display: flex;
}
.contectContainer {
  margin-top: 100px;
  margin-right: 20px;
}
.contectContainer > h1 > p {
  margin-bottom: 0 10px;
}

.forgot-container {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 480px;
}
.message-text {
  font-weight: 400;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.12px;
}
.forgot-content {
  display: flex;
  align-items: center;
}

.form-conatiner {
  all: unset !important;
}
.forgot-button {
  margin-top: 10px;
}
