.navbar {
  height: 70px;
  width: 100%;
  background-color: #1a2d45;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbarNav {
  width: 100%;
  overflow-y: hidden;
  margin-left: auto;
}

.navbarListItems {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Merienda One', cursive;
  color: #14adc6;
  margin: 20px;
}
.heading {
  color: #e9fbff;
  margin: 0;
}
.sub-heading {
  font-size: 60px;
  color: #14adc6;
}
.logoImage {
  padding-left: 10px;
  width: 200px;
}
.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.customButton {
  border-radius: 20px;
  border: 1px solid #14adc6;
  background-color: #14adc6;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.title {
  color: #dcf4f4;
  margin: 0px;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .navbarListItems {
    column-gap: 25px;
  }
}
